html,
body {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
}

.renderCanvas {
    height: 90%;
    touch-action: none;
    width: 100%;
}

.container {
    width: 100%;
}

.scalebar{
    width: 100%;
}